@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.welcomeH{
  display:inline-block;
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

.highlight{
  color: #f6339a;
}

.welcome_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-top-style: none;
  padding: 20px;
}

.welcomeText{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

form{
  display: flex;
  flex-direction: column;
}

form input,
form textarea,
form select {
  border: 1px solid;
  padding: 0 5 0 5;
  width: 100%;
  margin-top: 0%;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: #f6339a;
  outline: none;
}

.imageDiv{
  position:relative;
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
}

.contentImg{
  border: 1px solid white;
  margin-bottom: 200px;
}

.imageDiv {
  border: 2px solid white;
  padding: 3px;
}

.imageDiv img{
  width: 100%;
  height: 100%;
  display: block;
}

.naslovAbout{
  display: inline-block;
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

.aboutIdeja{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  padding: auto;
  margin-bottom: 30px;
  
}

.autori{
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: #f6339a;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}