
.glavni {
  background-color: black;
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.glavni-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.stvarcine{
  width: 100%;
  border: 1px solid white;
  border-width: 1px 1px 1px 1px;
}

.stvari {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stvari-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  background-color:black;
  margin-top: 16px;
  width: 100%;      
  padding: 8px 16px;
  cursor: pointer;
  border: 10px outset white;
  font-size: 1.75rem;
}
.btn:hover{
    cursor: pointer;
}

.naslov {
  font-size: 3.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.komentar {
  font-size: 1rem;
  font-size: 2.25rem;
}
.forma {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 50vh;

  background-color: black;
  border: 1px solid #444;
  border-radius: 12px;

  padding: 30px;
  overflow-y: auto;

  box-shadow: 0 0 40px rgba(0,0,0,0.8);

  z-index: 9999;
}

.btn_forma {
  display: block;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.btn_forma:hover {
  color: hotpink;
}
